.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4.5rem;
  width: 97%;
  padding: 50px;
  margin: 2rem;
  border-radius: 25px;
  background-color: #f6f6f6;
}

@media screen and (max-width: 1230px) {
  .cards-container {
    gap: 25px;
    padding: 25px 15px;
  }
}

@media screen and (max-width: 980px) {
  .cards-container {
    padding: 0;
    background-color: #fff;
  }
}
