.housing-tags {
  display: flex;
  gap: 1rem;
}

.tag {
  width: auto;
  height: 25px;
  background-color: #ff6060;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border-radius: 10px;
  text-align: center;
  padding: 4px 24px;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .tag {
    font-size: 12px;
  }
}
